.small-navbar {
    display: flex;
    flex-direction: row;  /* Make items appear horizontally */
    justify-content: center; /* Align items to the left */
    padding: 10px;
    margin-top: 120px;
    gap: 100px;
  }
  
  .small-navbar div {
    margin: 0 15px; /* Add horizontal spacing between items */
    cursor: pointer; /* Change the cursor to indicate the items are clickable */
   
  }
  