.contact-page {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: 120px;
}
  
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100px); 
    z-index: -1;
  }
  
  
  
  .contact-container {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    top: 50vh;
    transform: translateY(-50%);
    
  }
  
  
  
  .contact-heading {
    color: white;
    font-size: 40px;
  }
  
  .contact-text {
    color: white;
    font-size: 18px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-label {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
  }
  
  .contact-input, .contact-textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #635d5d;
    width: 100%;
    background-color: #a09393;
    color: black;
  }
  
  .contact-textarea {
    height: 100px;
  }
  
  .contact-button {
    background: #222;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .contact-button:hover {
    background: #223;
  }
  
 
  .contact-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .info-box {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
  }
  
  
  .address-box, .location-box, .phone-box {
    background: rgb(50, 36, 36);
  }
  
 
  @media (max-width: 600px) {
    .contact-info {
      flex-direction: column;
      gap: 10px;
    }
  }
  @media (max-width: 768px) {
    .contact-container {
      max-width: 95%;
      top: 70vh;
    }
  
    .contact-heading {
      font-size: 1.8rem;
    }
  
    .contact-text {
      font-size: 1rem;
    }
  
    .contact-info {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  
    .info-box {
      width: 90%;
    }
  }


  @media (min-width: 801px) {
    .contact-container {
      max-width: 70%;
      width: 900px;
      padding: 30px;
      top:52vh;
    }
  
    .contact-heading {
      font-size: 2.5rem;
    }
  
    .contact-text {
      font-size: 1.3rem;
    }
  
    .contact-input,
    .contact-textarea {
      font-size: 1.1rem;
      padding: 12px;
    }
  
    .contact-button {
      font-size: 1.2rem;
      padding: 14px;
    }
  
    .contact-info {
      gap: 25px;
    }
  
    .info-box {
      padding: 20px;
    }
  }