.small-navbar2 {
    display: flex;
    flex-direction: row;  /* Make items appear horizontally */
    justify-content: center; /* Align items to the left */
    padding: 10px;
    margin-top: 20px;
    gap: 100px;
    font-size: 20px;
  }
  
  .small-navbar2 div {
    margin: 0 15px; /* Add horizontal spacing between items */
    cursor: pointer; /* Change the cursor to indicate the items are clickable */
  
  }
  .small-navbar2 a{
    text-decoration: none;
    color: black;
  }
  @media (max-width: 480px){
    .small-navbar2 {
      display: flex;
      flex-direction: row;  /* Make items appear horizontally */
      justify-content: center; /* Align items to the left */
      padding: 10px;
      margin-top: 20px;
       gap: 12px;
      font-size: 20px;
    }
  }
  